{% extends "AdminBundle:Admin:iFrameContent.html.twig" %}
{% block title %}Ajouter Licence{% endblock %}
{% block CSS %}<link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />{% endblock %}
{% block Content%}
    <div class="row" style="margin: 0;overflow-y: auto;height: 100%">

        <div class="col-xs-9"
             style="background: rgb(238, 241, 246); height: 100%;">

            <div class="col-xs-12">
                <div class="list-group"
                     style="background: #1B2024; margin: 30px 0 0 30px; padding: 0 0; border-left: 20px solid white; border-right: 20px solid white !important; text-align: left;">
                    <form class="formulaire" id="formLicence" action="{{ path("metier_user_licenceadded") }}" method="post">
                        <div class="inputcontainer">
                            <label class="list-group-item" >Libelle :</label>
                            <input class="champ" type="text" class="form-control" maxlength="10" id="Libelle" name="_Libelle">
                        </div>
                        <div class="inputcontainer">
                            <label class="list-group-item" style="vertical-align: top">Description : </label>
                            <textarea form="formLicence" class="champ" class="form-control" maxlength="255" id="Description" name="_Description" style="width: 50%;height: 100px;display: inline-flex"></textarea>
                        </div>
                        <div class="inputcontainer">
                            <label class="list-group-item">Durée : </label>
                            <input class="champ" type="number" class="form-control" min="1" max="365" id="Duree" name="_Duree">
                        </div>
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xs-3"
             style="background: rgb(238, 241, 246); height: 100%;">
            <div class="list-group"
                 style="margin: 15px 0 0 15px;height: 100%; background-color: white;">


            </div>
        </div>
    </div>
{% endblock %}