{% extends "AdminBundle:Admin:iFrameContent.html.twig" %}
{% block title %}Ajouter Société{% endblock %}
{% block CSS %}<link rel="stylesheet" href="{{ asset('css/qcm.css') }}" />{% endblock %}
{% block Content%}
<div class="row" style="margin: 0;overflow-y: auto;height: calc(100% - 224px)">



    <div class="col-xs-9"
         style="background: rgb(238, 241, 246); height: 100%;">

        <div class="col-xs-12">
            <div class="list-group"
                 style="background: #1B2024; margin: 30px 0 0 30px; padding: 0 0; border-left: 20px solid white; border-right: 20px solid white !important; text-align: left;">
                <form class="formulaire" id="form" action="{{ path("saveNewModele") }}" method="post">
                    <div class="inputcontainer">
                        <label class="list-group-item" >Nom Fichier :</label>
                        <input class="champ" type="text" class="form-control" id="filename" name="_filename">
                    </div>
                    <div class="inputcontainer">
                        <label class="list-group-item" style="vertical-align: top">Text : </label>
                        <textarea form="form" class="champ" class="form-control" id="newtext" name="_newtext" style="width: 50%;height: 100px;display: inline-flex"></textarea>
                    </div>
                    <div class="inputcontainer">
                        <label class="list-group-item" >Modéle :</label>
                        <select name="_modele">
                            {% if modeles is defined %}
                                {% for modele in modeles %}
                                    <option value="{{ modele }}">{{ modele }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>






    <div class="col-xs-3"
         style="background: rgb(238, 241, 246); height: 100%;">
        <div class="list-group"
             style="margin: 30px 0 0 30px;height: 100%; background-color: white;">
            <button onclick="submitform('form')"  type="button" class="list-group-item rightMenu" style="background-color: #2A76CC">
                <div class="col-xs-12"  style="display: inline-table;color: white;">Valider</div>

            </button>

        </div>
    </div>
{% endblock %}

