<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="{% if clear is defined and clear %}sessionStorage.clear();{% endif %}window.parent.location.reload()">

</body>
</html>