<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        <p>yufghjjh jhgk<span class="cms-color cms-blue">fg hjfghjgkj </span><span class="cms-color cms-blue">j</span>hgkh</p><p><ul><li>yhgkg <span class="cms-color cms-red">jhgkhj yhkghjghjggh hjhj</span><br></li><li><span class="cms-color cms-red">hjfgkhggl</span></li><li><span class="cms-color cms-red">jhgjhgvhjh fkyfguyfgyu</span></li><li><span class="cms-color cms-red">hjg</span></li></ul><div><font color="#c0504d">ghkfgfjhhjgjh</font></div></p>
    </p>
</body>
</html>