@CHARSET "utf-8";

.popup{
    position: absolute;
    display: none;
    z-index: 5;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.popup .close
{
    height: 100%;
    width: 100%;
    position: absolute;
}

.popup .nav
{
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(61, 138, 212);
    height: 79px;
    font-size: 16px; width: 100%;border-radius: 0;
    font-family: Roboto;
    color: white;
    text-transform: uppercase;
    line-height: 4;
    text-align: center;
}

.popup .div_form
{
    background-color: white;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #4cae4c;
    display: inline-table;
    width: 100%;
}

.popup .div_button
{
    padding: 10px 0 10px 0;
    background-color: white;
}
.popup .div_form .input-colonne
{
    border-right: 15px solid white;
}
.popup .div_form .input
{
    width: 100%;
    font-size: 18px;
    height: 40px;
    font-family: Roboto;
    color: rgb(75, 75, 75);
    float: left;
    text-align: left;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(235,235,235);
    margin-bottom: 10px;
}


.popup .div_button .blue
{
    border: 0;
    font-size: 18px;
    font-family: Roboto;
    color: white;
    text-align: left;
    background-color: rgb(61, 138, 212);
    height: 40px
}
.blue
{
    border: 0;
    font-size: 18px;
    font-family: Roboto;
    color: white;
    text-align: left;
    background-color: rgb(61, 138, 212);
    height: 40px;
    width:150px;
    text-align:center;
}

.toggle
{
    text-align: left;


}
.tblQCM {

    border: 0;
    width: 300px;
    text-align: center;
    align:center;
}

SELECT, INPUT[type="text"] {
    width: 160px;
    box-sizing: border-box;

}
SECTION {
    padding: 8px;
    background-color: #f0f0f0;
    overflow: auto;
    text-align: center;

}
SECTION > DIV {

    padding: 4px;
    text-align: center;
}
SECTION > DIV + DIV {
    width: 40px;
    text-align: center;
}
