@CHARSET "utf-8";

body{
    font: 14px Roboto !important;
}

.popup{
    position: fixed;
    display: none;
    z-index: 5000000;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.popup .close
{
    height: 100%;
    width: 100%;
    position: fixed;
}

.popup .formContainer
{
    padding: 0;
    border:10px solid white;
    display: block;
    overflow:hidden;
    background-color: white;
    margin-bottom: 40px;
}
.popup .nav
{
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(61, 138, 212);
    height: 79px;
    font: 16px Roboto;
    width: 100%;
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    line-height: 4;
    text-align: center;
}

.popup .div_form
{
    background-color: white;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #4cae4c;
    display: inline-block;
    width: 100%;
}

.popup .div_button
{
    padding: 10px 0 10px 0;
    background-color: white;
}
.popup .div_form .input-colonne
{
    border-right: 15px solid white;
}
.popup .div_form .input
{
    width: 100%;
    font: 18px Roboto;
    height: 40px;
    color: rgb(75, 75, 75);
    float: left;
    text-align: left;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(235,235,235);
    margin-bottom: 10px;
}

.popup .div_form .date
{
    width: calc(100% - 10px);
    font: 18px Roboto;
    float: left;
    height: 40px;
    color: rgb(75, 75, 75);
    text-align: left;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(235,235,235);
    margin-bottom: 10px;
}

#IE .popup .div_form .date
{
    width: 300%;
    font: 18px Roboto;
    height: 40px;
    color: rgb(75, 75, 75);
    text-align: left;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(235,235,235);
    margin-bottom: 10px;
}

.popup .div_button .blue
{
    border: 0;
    font: 18px Roboto;
    color: white;
    text-align: left;
    background-color: rgb(61, 138, 212);
    height: 40px


}

.form .info_formation .blue
{
    border: 0;
    font: 18px Roboto;
    color: white;
    text-align: left;
    background-color: rgb(61, 138, 212);
    height: 40px
}


.toggle
{
    text-align: left;


}
.tblQCM {

    border: 0;
    width: 300px;
    text-align: center;
}

form .NavBarTier
{
    height: 54px;
}

form .NavBarTier button
{
    height: 100%;
    font: 20px Roboto;
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    background-color: rgb(248, 248, 248);
    border: none;
}

form .NavBarTier button.active
{
    color: white  !important;
    background-color: #337AB7  !important;
}
