@CHARSET "utf-8";

.popup{
    position: absolute;
    display: block;
    background-color: white;
    z-index: 50 !important;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.popup .close
{
    height: 100%;
    width: 100%;
    position: absolute
}

.popup .nav
{
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(61, 138, 212);
    height: 79px;
    font-size: 16px; width: 100%;border-radius: 0;
    font-family: Roboto;
    color: white;
    text-transform: uppercase;
    line-height: 4;
    text-align: center;
}

.popup .div_form
{
    background-color: white;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #4cae4c;
    display: flex;
    width: 100%;
}

.popup .div_button
{
    background-color: white;
}

.popup .div_form .input
{
    font-size: 18px;
    height: 40px;
    font-family: Roboto;
    color: rgb(75, 75, 75);
    float: left;
    text-align: left;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(235,235,235);
    margin-right: 10px;
}

.popup .div_button .blue
{
    border: 0;
    font-size: 18px;
    font-family: Roboto;
    color: white;
    text-align: left;
    background-color: rgb(61, 138, 212);
    height: 40px
}