@CHARSET "utf-8";

[class*="col-"] {
	text-align: center;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

html {
	min-height: 100%; /* make sure it is at least as tall as the viewport */
	position: relative;
}

body {
	height: 100%;
	/* force the BODY element to match the height of the HTML element */
}

.container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100% !important;
	margin: 0 !important;
}

.butonLigne {
	padding: 10px 0 10px 0 !important;
	height: 41px !important;
	border: none !important;
	border-left: 15px solid #1B2024 !important;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%,
		#7F7F7F 2%) !important;
	color: #7F7F7F !important;
	border-right: 15px solid #1B2024 !important;
	font : 10px arial;
}

.butonLigne:focus{
	color: white !important;
	padding: 10px 0 10px 10px !important;
}
.butonLigne .part {
	height: 15px;
	text-align: left;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.butonLigne .part .badge {
	background: red !important;
	color: white !important;
	font: 7px Arial !important;
}

.butonLigne .part .active {
	background: #94C400;
	height:9px;
	border-radius: 100%;
	margin: 3px 0;
	width: 9px;
	float: right;
}

.butonLigne .part .inactive {
	background: red;
	height:9px;
	border-radius: 100%;
	margin: 3px 0;
	width: 9px;
	float: right;
}

.recherche{
  width: 100%;
  display: block;
  border: none;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
          transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -260px 0;
  background-size: 260px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}

:focus {
outline: 0;
}

.rightMenu{
	height: 46px;
	padding: 0 !important;
	display: block !important;
	border: none !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #1B2024 !important;
	color: white !important;
	font : 10px arial;
	margin: 0 !important;
	line-height: 250%;
}

.info{
	height: 40px;
	padding: 10px 0 10px 0 !important;
	display: block !important;
	border: none !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #7F7F7F !important;
	color: #7F7F7F !important;
	font : 20px arial;
	margin: 0 !important;
	line-height: 200%;
}

table
{
	width: 100%;
	background-color: white;
	border-collapse: collapse; /* Le /* Les bordures du tableau seront collées (plus joli) */
}
td
{
	border: 1px solid black;
}

iframe
{
	height: calc( 100% - 72px);
	width: 100%;
	border: none;
}

.leftbar{
	background: #1B2024;
	overflow-y: auto;
	margin: 0;
	height: calc(100% - 72px);
	position: fixed
}

#basic-addon1
{
	width: 20px;
	height: 20px;
	background: #2F88CE;
	border: none;
	border-bottom: solid 1px #1abc9c;
	border-radius: 0;
	position: static;
}

.topbaradd
{
	padding: 0px;
	float: left ;
	width: 21px;
	height: 21px;
	color: white ;
	background: #154CAD;
	border: none;
	position: static;
}

.topbaradd + button
{
	padding: 0px;
	background: #1654b7 ;
	border: none;margin: 0 ;
	height: 21px;
	width: calc(100% - 21px);
}

#leftselect, #select_info
{
	font:20px arial;
	width: 100%;
	padding-left: 35%;
	height: 40px;
	border-radius: 0;
	background: #1C5AA5;
	border: 0;
	color: white;
}

.affichage
{
	background: #1B2024;
	margin: 15px 0 0 15px;
	padding: 0 0;
	border-left: 10px solid white;
	border-right: 10px solid white;
	text-align: left;
}

.notifTopbar
{
	position: relative;
	background-color: red;
	top: -6px;
}