<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        Bonjour,<br/>
        <br/>
        Suite à votre candidature pour la formation "{{ formation }}", nous vous informons que votre candidature a été {{ statut }} <br/>
        <br/>
        En vous souhaitant bonne réception, <br/> Cordialement.
    </p>
</body>
</html>