<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Bonjour, Nous avons bien reçu votre candidature et vous remercions de l'intérêt que vous portez à notre école.
Toutefois, après examination de votre dossier, je vous informe que vous n’avez pas été retenu pour la formation.
Nous vous souhaitons pleine réussite dans vos recherches.
Cordialement,
</body>
</html>